* {
    box-sizing: border-box;
}
table,
tr,
th,
td {
    // border: solid 1px #000000;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    padding: 12px;
}
table {
    width: 100%;
}
thead {
    background-color: rgb(147, 196, 56);
    color: cornsilk;
    font-size: x-large;
}
.forma {
    display: flex;
}
input,
label {
    margin: 5px 10px;
}
button {
    margin: 22px;
    padding: 2px 20px;
    background-color: rgb(180, 0, 9);
    color: #ffffff;
    border-radius: 5px;
}
.spalva {
    background-color: darkkhaki;
}
.trinti,
.redaguoti {
    border-style: none;
    background-color: darksalmon;
    color: darkred;
    padding: 5px 30px;
    margin: 2px;
    border-radius: 10px;
    font-size: larger;
    border: solid 2px darkred;
}
.redaguoti {
    background-color: rgb(122, 233, 128);
    color: rgb(0, 139, 7);
    border: solid 2px rgb(0, 139, 7);
}
// modalo iskvietima galima pasidaryti tiek su opacity, tieks us display!!!
.modaloFonas {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: none;
    // opacity: 0;
    transition: all ease 1s;
    &.modalasVeikia {
        z-index: 1;
        // opacity: 1;
        display: block;
    }
    .modalo_kortele {
        border-radius: 10px;
        width: 300px;
        background-color: #ffffff;
        text-align: center;
        padding: 5px;
        margin: 150px auto;
        .ne {
            background-color: green;
        }
    }
}
.duomenu_modalas {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: none;
    // opacity: 0;
    transition: all ease 1s;
    &.modalasVeikia {
        z-index: 1;
        // opacity: 1;
        display: block;
    }
    #duomenu_forma {
        border-radius: 10px;
        width: 400px;
        background-color: #ffffff;
        padding: 5px;
        margin: 150px auto;
        text-align: end;
        #prideti {
            background-color: green;
        }
    }
}
